#profile {
    padding-bottom: 100px;
}

.container {
    margin-top: 20px;
    background-color: white;
    padding: 16px;
    text-align: center;
}

.info-container {
    margin-top: 20px;
    margin-bottom: 120px;
    background-color: white;
    padding: 16px;
    text-align: center;
    border: 1px soutset #345bc8;
    border-radius: 15px;
    box-shadow: 0 0 15px #ced9f6;
}

.card {
    width: 382px;
    display: inline-block;
    margin: 5px;
}

.editbtn {
    background-color: #345bc8;
    color: #faf8f7;
    padding: 14px 20px;
    margin: 10px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;
    font-size: 16px;
    display: inline;
}

.editbtn:hover {
    opacity: 2;
}

.mat-mdc-card {
    position: relative;
    border: 1px soutset #345bc8;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 0 15px #ced9f6;
}

.mat-mdc-card-header {
    display: block;
    padding: 16px 16px;
}

.mdc-card__actions {
    display: contents;
}

.mat-mdc-card-title {
    font-size: 24px;
    font-weight: 500;
}

.mat-card-title {
    margin-bottom: 20px;
}

.first-column {
    grid-column: 1; 
    display: inline-block; 
    width: 256px;
}

.card-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.card-fullname {
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
}

#img-donation {
    border-radius: 50%;
}

#img-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.btn {
    background-color: #345bc8;
    color: #faf8f7;
    padding: 14px 20px;
    margin: 10px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 256px;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

.btn:hover {
    opacity: 2;
}

.profile-column-block {
    position: absolute;
    box-sizing: border-box; 
    display: block;
    margin-top: 40px;
    margin-left: 10px;
}

.border-box {
    box-sizing: border-box;
    order: inherit;
}

.block {
    display: block;
    margin-bottom: 16px;
}

.flex {
    /* display: flex;  */
    flex-direction: column;
}

.mb0 {
    margin-bottom: 0;
}

.center {
    align-items: center; 
}

.img-div {
    display: inline-block;
    margin-right: 0; 
    position: relative; 
    flex-shrink: 0; 
    width: 100%; 
    z-index: 4; 
    box-sizing: border-box;
}

.sticky {
    position: sticky;
}

.material-icons {
    display: inline-block;
}




.second-column {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    grid-column: 2; 
    display: inline-block; 
    margin: 5px; 
    margin-left: 300px;
}

#header {
    margin-left: 300px
}

#img-donation {
    height: 500px;
    width: 700px;
}

/* Kennedy animation */

@keyframes fadeInAnimation {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}

/* adding animation to the element */
.fadeIn {
    animation-name: fadeInAnimation; /* animation name */
    animation-duration: 4s;
    animation-timing-function: ease; 
    animation-fill-mode: forwards; /* left last value of the animation */
}
