.header {
    position: relative; /* Добавяме позиция relative, за да можем да контролираме z-index на децата */
    background-color: #345bc8; 
    z-index: 1; /* Задаваме дълбочина 1 (напред) на хедъра */
}


a, span {
    float: left;
    color: #faf8f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    transition: transform 0.2s; /* Добавяме transition за плавно анимиране на transform */
}

a:hover {
    transform: scale(1.2); 
    border-radius: 15px; 
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 22px;
}

.active {
    font-size: 19px;
    border-radius: 15px; 
}
