<section id="catalog">
    <div class="container">
        <h1>Discover Available Donations</h1>
        <div>
            <mat-card class="card" *ngFor="let post of allPosts">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>{{post.data.postTitle}}</mat-card-title>
                    <mat-card-subtitle>{{post.data.category}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-lg-image src="{{post.data.photo}}" alt="">
                <mat-card-content>
                    <p>{{post.data.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="requestbtn" (click)="clickRequest(post.key)">Request</button>
                </mat-card-actions>

            </mat-card>
            
            <!-- TODO - Create request logic and save requested items is database -->
            
            <!-- TODO - Look for donation list improvements -->

            <!-- TODO - If there is not donations today - inform the user, ask him to make donation -->


        </div>
    </div>
    
    <!-- TODO - Create paginator - maybe ??  -->

</section>

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner" diameter="150"></mat-spinner>
</div>


