#catalog {
    padding-bottom: 100px;
}

.container {
    margin-top: 40px;
    background-color: white;
    padding: 16px;
    text-align: center;
}

.card {
    width: 382px;
    display: inline-block;
    margin: 5px;
}

.header-image {
    background-image: url('../../assets/blank-profile-pic.png');
    background-size: cover;
}

.requestbtn {
    background-color: #345bc8;
    color: #faf8f7;
    padding: 14px 20px;
    margin: 10px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;
    font-size: 16px;
    display: inline;
}

.requestbtn:hover {
    opacity: 2;
}

.mat-mdc-card {
    position: relative;
    border: 1px soutset #345bc8;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 0 15px #ced9f6;
}

.mdc-card__actions {
    display: contents;
}

.mat-mdc-card-title {
    font-size: 24px;
    font-weight: 500;
}

.mat-card-title {
    margin-bottom: 20px;
}

