/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner circle {
    stroke: #345bc8 !important;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}