img {
    max-width: 1000px;
    max-height: 800px;
    display: block;
    margin: auto;
}

.img-div {
    display: flex;
    justify-content: center;
    
}

.message-container { 
    background-color: #f1f1f1;
    text-align: center;
    width: 25%;
    margin: auto;
    border-radius: 15px;
    padding: 16px;
    display: block;
}

.message-container p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #345bc8;
    text-decoration: none;
    font-weight: 500;
}